// variables
@use '../variables/variables' as *;

// FONTS SET-UP

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-Bold.woff2') format('woff2');
  font-weight: 700;
}

// FONTS

* {
  font-family: 'Orbitron';
  font-weight: 700;
}

// .font-color {
//   &--white      {color: $color-white};
//   &--gray       {color: $color-gray};
//   &--gray-dark  {color: $color-gray-dark};
//   &--brown      {color: $color-brown};
//   &--brown-dark {color: $color-brown-dark};
//   &--dark       {color: $color-dark};
//   &--red        {color: $color-red};
// }