.bg {
  position: relative;

  &::before {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -2px;
    height: 102%;
    width: 102%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0.15rem);
  }

  &-hero::before {
    background-image: url('../images/hero-bg.webp');
  }

  &-services::before {
    background-image: url('../images/services-bg.webp');
  }

  &-testimonials::before {
    background-image: url('../images/testimonials-bg.webp');
  }

}