@use '../variables/variables' as *;

.button {
  border-radius: 0.5rem;
  max-width: 20ch;
  padding: 0.9rem;

  border: none;

  background: linear-gradient(180deg, #F37756 38.02%, #08D7C7 100%);

  color: $color-white;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;

  cursor: pointer;

  &-left {
    width: 10rem;
    margin: 1px;
  }
  &-right {
    width: 10rem;
    margin: 1px;
    & svg {
      transform: scale(-1, 1);
    }
  }
  &-arrow {
    fill: $color-white;
  }
}

@media (min-width: $tablet-min) and (max-width: $tablet-max) {
  .button {
    &-left {
      width: 4rem;
      height: 10rem;
      & svg {
        transform: rotate(-90deg) scale(2.5);
      }
    }
    &-right {
      width: 4rem;
      height: 10rem;
      & svg {
        transform: rotate(90deg) scale(2.5);
      }
    }
  }
}


@media (min-width: $desktop-min) {
  .button {
      font-size: 2.5rem;
    }
  
}