@use '../variables/variables' as *;

.button {
  border-radius: 0.5rem;
  max-width: 20ch;
  padding: 0.9rem;

  border: none;

  background: linear-gradient(180deg, #F37756 38.02%, #08D7C7 100%);

  color: $color-white;
  text-transform: uppercase;
  font-size: 1.5rem;

  cursor: pointer;
}


@media (min-width: $desktop-min) {
  .button {
      font-size: 2.5rem;
    }
  
}