@use '../variables/variables' as *;

.container {

  max-width: 124.0rem;
  margin: 0 auto;
  padding: 0 1rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  
}

@media (min-width: $tablet-min) {
  .container {
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 3rem;
  }
}

@media (min-width: $desktop-min) {
  .container {
    padding-bottom: 5rem;
  }
}
