@use '../variables/variables' as *;

.container {

  max-width: 124.0rem;
  margin: 0 auto;

  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  
}

@media (min-width: $tablet-max) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: $desktop-min) {
  .container {
    grid-template-columns: repeat(12, 1fr);
  }
}