@use '../variables/variables' as *;

.hidden {

  display: none;

  &--toggle {
    display: none;
  }

  &--toggle.burger-lines {
    display: none;
  }

  &--static {
    display: none;
  }
  
}

@media (min-width: $tablet-min) {
  .hidden {
    &--static {
      display: initial;
    }
  }
}