@use '../variables/variables' as *;

.logo {
  &--header {
    z-index: 10;
    max-width: 6rem;
  }
}

@media (min-width: $tablet-max) {
  .logo {
    &--header {
      max-width: 10rem;
    }
  }
}

@media (min-width: $desktop-min) {
  .logo {
    &--header {
      max-width: 14.5rem;
      grid-column: span 2;
    }
  }
}