@use '../variables/variables' as *;

.nav {

  &-item {
    padding: 1rem;
    color: $color-white;
    font-size: 2rem;
    line-height: 4rem;
    text-transform: uppercase;
  }

  &-item--static {
    padding: 0.7rem;
    color: $color-white;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 0 0 20px $color-orange--dark;
  }

  &--toggle {
    position: absolute;
    z-index: 5;
    top: 0;
    // bottom: -84vh;
    height: 100svh;
    right: 0;
    left: 0;
    background-color: $color-dark;

    & div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &--static {

    & div ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

@media (min-width: $desktop-min) {
  .nav {  
    &-item--static {
      font-size: 2.3rem;
    }
  } 
}