@use '../variables/variables' as *;

.header {
  position: absolute;
  width: 100%;
  padding: 2rem;

  &-position {
    &--burger {
      align-items: flex-end;
    }
  }
}

@media (min-width: $tablet-min) {
  .header {  
    &-position {
      &--navStatic {
        grid-column: 2 / 7;
      }
    }
  }
}

@media (min-width: $desktop-min) {
  .header {  
    &-position {
      &--navStatic {
        grid-column: 3 / 13;
      }
    }
  }
}