@use '../variables/variables' as *;

.hero {
  height: 100vh;
  background-image: url('../images/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10rem;

  &-container {
    height: 100%;
  }

  &-area {
    &--left {
      grid-column: span 2;
      height: 100%;
      display: flex;
      flex-direction: column; 
      justify-content: space-evenly;
      align-items: center;
    }
    &--right {
      display: none;
    }
  }


  &-heading {
    color: $color-white;
    max-width: 20ch;
    text-align: center;
    font-size: 3.5rem;
  }

  &-image {
    filter: drop-shadow(0 0 2rem $color-light);
  }

}

@media (min-width: $tablet-max) {
  .hero {
    height: auto;
    padding-top: 14rem;

    &-heading{
      text-align: left;
    }

    &-area {
      &--left {
        grid-column: span 3;
        padding-left: 3.5rem;
        align-items: flex-start;
      }
      &--right {
        display: initial;
        grid-column: 4 / 7;
      }
    }
  }
}

@media (min-width: $desktop-min) {
  .hero {
    padding-top: 18.5rem;

    &-area {
      &--left {
        grid-column: span 5;
      }
      &--right {
        grid-column: 6 / 13;
        & img {
          width: unset;
        }
      }
    }

    &-heading {
      color: $color-white;
      max-width: 10ch;
      font-size: 5.5rem;
    }
  
  }
}