// COLORS

$color-white: #FFFFFF;
$color-light: #D4FCDD;
$color-orange: #F37756;
$color-orange--dark: #6c3424;
$color-blue: #08D7C7;
$color-dark: #06242E;

// breakpoints

$tablet-min: 600px;
$tablet-max: 900px;
$desktop-min: 1200px;

