// NORMALIZE
@use '../../../node_modules/normalize.css/normalize.css';
@use './normalize/normalize-custom';

// FONTS
@use './fonts/fonts';

// SECTIONS
@use './sections/header';
@use './sections/hero';
@use './sections/about';
@use './sections/services';

// COMPONENTS
@use './components/hidden';
@use './components/logo';
@use './components/burger';
@use './components/container';
@use './components/nav';
@use './components/button';
@use './components/clickable';
@use './components/sectionHeading';
@use './components/bg';