// NORMALIZE
@use '../../../node_modules/normalize.css/normalize.css';
@use './normalize/normalize-custom';

// FONTS
@use './fonts/fonts';

// SECTIONS
@use './sections/header';
@use './sections/hero';

// COMPONENTS
@use './components/hidden';
@use './components/logo';
@use './components/burger';
@use './components/container';
@use './components/nav';
@use './components/button';